<div class="message">
  <div class="message-up">
    <div class="message-name">Tom</div>
    <div class="message-date">2020/3/31(Wed)</div>
  </div>
  <div class="message-text">おはよう</div>
</div>

<div class="message">
  <div class="message-up">
    <div class="message-name">Tom</div>
    <div class="message-date">2020/3/31(Wed)</div>
  </div>
  <div class="message-text">おはよう</div>
</div>