<div class="wrapper">
<!-- 左半分 -->
  <div class="side-bar">
<!-- ユーザー名とチャット作成リンク -->
    <div class="side-bar-top">
      <%= link_to current_user.name, edit_user_path(current_user), class:"user-name" %>
      <%= link_to "チャットを生成する", new_room_path, class:"chat-start-btn"%>
    </div>
<!-- チャットルーム一覧表示 -->
    <div class="side-bar-contents">
      <%= render "side_bar"%>
    </div>
  </div>
<!-- 右半分 -->
  <div class="main-chat">
<!-- チャットルーム概要 -->
    <div class="main-chat-top">
    <div class="room-summary">maid_FunClub♡</div>
    <a class="chat-end-btn" href="">チャットを終了する</a>
    </div>
<!-- メッセージ一覧 -->
    <div class="main-chat-contents">
      <%= render "main_chat"%>
    </div>
<!-- 入力フォーム -->
    <div class="main-chat-form">
        <div class="input-box">
          <input type="text" class="text-box" placeholder="type a message">
          <label class="form-image">
            <span class="image-file">画像</span>
            <input type="file" class="hidden">
          </label> 
          <input type="submit" class="submit-btn" value="送信">
      </div>
    </div>
  </div>
</div>