<div class="wrapper">
  <div class="side-bar">
    <div class="side-bar-top"></div>
    <div class="side-bar-contents">
      <%= render "side_bar"%>
    </div>
  </div>
  <div class="main-chat">
    <div class="main-chat-top"></div>
    <div class="main-chat-contents">
      <%= render "main_chat"%>
    </div>
    <div class="main-chat-form"></div>
  </div>
</div>