<div class='wrapper'>
<!-- 左半分 -->
  <div class="side-bar">
<!-- ユーザー名とチャット作成リンク -->
    <div class="side-bar-top">
      <%= link_to current_user.name, edit_user_path(current_user), class:"user-name" %>
      <%= link_to "チャットを生成する", new_room_path, class:"chat-start-btn"%>
    </div>
<!-- チャットルーム一覧表示 -->
    <div class="side-bar-contents">
      <div class='side-bar'>
        <%= render "messages/side_bar" %>
      </div>
    </div>
  </div>
</div>